
<div class=" container">
    <h1 class="text-center" >We Value Your Feedback</h1>
    <p class="text-center d-flex justify-content-center align-center row " >
        Help us improve UniHao by sharing your thoughts and suggestions. Your feedback is essential to making our platform better for all students.
    </p>
    <div class="row d-flex align-items-center justify-content-center ">
        <div class="card col-md-6 py-2 px-4 mb-4 " >

            <div class="mb-3">
                <label for="name">Name </label>
                <input type="text" class="form-control" id="email" placeholder="Timothy Karanja">

            </div>

            <div class="mb-3">
                <label for="email">Email </label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com">

            </div>

            <div class="mb-3">
                <label for="message">Message </label>
                <textarea type="textarea" class="form-control" id="message" placeholder="Enter your message here">
              </textarea>

            </div>
            <div class="mb-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit Feedback</button>
            </div>
            </div>
    </div>
        </div>