
<footer class="pt-4  pt-md-5 border-top  bg-dark text-white"> 

  <div class="container border-bottom">
        <div class="row">
          <div class="col-12 col-md">
    <a class="navbar-brand  text-bold text-blue spacer" href="#">UniHao</a>
    <p>Finding student housing made simple for Maseno University students.</p>
    <div class="col mb-2">
      <a class="s-link-f" href="#">Facebook</a>
      <a class="s-link-x ms-2" href="#">X</a>
      <a class="s-link-w ms-2" href="https://www.youtube.com/watch?v=C3qXNbyQRg8&list=RDspmhU9ld16E&index=2">WhatsApp</a>
    </div>
          </div>
          <div class="col-6 col-md">
            <h5>Quick Links</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Home</a></li>
              <li><a class="text-muted" href="#">Listings</a></li>
              <li><a class="text-muted" href="#">About</a></li>
              <li><a class="text-muted" href="#">How it Works</a></li>
              
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Support</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Help Cennter</a></li>
              <li><a class="text-muted" href="#">Contact Us</a></li>
              <li><a class="text-muted" href="#">FAQs</a></li>
              <li><a class="text-muted" href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Maseno University</a></li>
              <li><a class="text-muted" href="#">Kisumu, Kenya</a></li>
              <li><a class="text-muted" href="#">info@unihao.com</a></li>
              <li><a class="text-muted" href="#">0115709680</a></li>
            </ul>
          </div>
        </div>

  </div>
  <p class="text-center text-white m-0 mt-2">© 2025 UniHao All Rights Reserved.</p>
      </footer>