<div class="spacer"></div>
<div class="hero py-5">
    <div class="container">
        <h1 class="mt-4 text-center">How it Works</h1>
        <p class="text-center">Finding your ideal student housing near Maseno University is simple with our streamlined process</p>
    </div>
</div>


<div  class="container ">
    <div class="row w-100">
        <div class="col-md-3">
        <div class="card  mx-1 p-6 shadow " >
            <img src="..." class="card-img-top card-image" alt="...">
            <div class="card-body">
                <h5 class="card-title">Search & Filter</h5>
                <p class="card-text">Browse our extensive listings with filters for budget, location, amenities, and room type to find your perfect match.</p>
            </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="card  mx-1 p-6 shadow " >
            <img src="..." class="card-img-top card-image" alt="...">
            <div class="card-body">
                <h5 class="card-title">Virtual Tours</h5>
                <p class="card-text">View detailed photos, floor plans, and virtual tours to get a real feel for the property without leaving your current location</p>
            </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="card  mx-1 p-6  shadow " >
            <img src="..." class=" card-image" alt="...">
            <div class="card-body">
                <h5 class="card-title">Book Viewings</h5>
                <p class="card-text">Schedule in-person viewings directly through our platform with verified landlords and property managers</p>
            </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="card  mx-1 p-6  shadow  " >
            <img src="..." class="card-img-top card-image" alt="...">
            <div class="card-body">
                <h5 class="card-title">Secure Your Housing</h5>
                <p class="card-text">Complete the booking process, sign agreements, and make secure payments all through our trusted platform..</p>
            </div>
        </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary my-3 ">
            Start Your Search
        </button>
    </div>
</div>