:host {
  display: block;
}

.hero {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #e1eaf3;
}
.hero h1 {
  font-weight: bold;
  
}
.hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}
