<div class="jumbotron hero">
    <div class="container py-5">

        <div class="row">
            <div class="col-md-6">
                <h1 class="display-3 text-bold">Find Your Perfect Campus Home</h1>
                <p>UniHao helps Maseno University students discover, view, and book quality housing near campus with
                    ease.
                    Say goodbye to the hassle of searching for accommodation and hello to your new home away from home.
                </p>
                <div class="container  row d-flex  flex-col">
                    <div class="col-sm-4">
                                            <a class="w-100  me-2 btn btn-primary btn-lg" href="#" role="button">Find Hao</a>

                    </div>
                <a class="col-sm-4  mt-2 btn btn-outline-primary btn-lg" href="#" role="button">How it Works</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid hero-image" src="assets/house.jpg" alt="Hero Image">
            </div>

        </div>
    </div>

</div>